NODE_ENV=production

PORT=4000

FRONTEND_ORIGIN=http://frontend:3000

ALLOWED_ORIGINS=http://frontend:3000,http://gateway:4000

AUTH_SERVICE_URL=http://auth-service:4001

USER_SERVICE_URL=http://user-service:3002

CHAT_SERVICE_URL=http://chat-service:4002

POSTS_SERVICE_URL=http://posts-service:3333
