## Application
NODE_ENV=development

HOST=0.0.0.0

PORT=3333

ORIGIN=http://localhost:3000,http://localhost:4000,http://frontend:3000,http://gateway:4000

## User Service
USER_SERVICE_URL=http://user-service:3002

## R2
R2_ACCESS_KEY_ID=key

R2_SECRET_ACCESS_KEY=key

R2_ENDPOINT=endpoint

R2_BUCKET=transcendence

## Otel
SERVICE_NAME=posts
